*{
  margin: 0;
  box-sizing: border-box;

}

/*HEADER SECAO*/
header{
  font-family: 'poppins';
  background-color:#000;
}

header h1 {
 color: rgb(81, 81, 223);
  font-size: 30px;
  padding-bottom: 8px;
  margin: AUTO 10px;
  font-family: 'poppins';
  cursor: pointer;
  text-decoration: none !important;
}
nav ul{
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0 130px;
  margin: 0;
}

nav ul li a{
  text-decoration: none;
  color:#707070;
  transition: color 0.3s;
}

nav ul li a:hover{
  color: rgb(69, 69, 106);
}






/* DOWLOAD CV SECAO */

.section-div {
  animation: inicializar .7s forwards;
  background-color: #000;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
  align-items: center;
  gap: 60px;
  padding: 60px;
}

.section-div div {
  margin-top: 120px;
  align-self: start;
  display: grid;
  gap: 30px;
}

.section-div div h2 {
  font-family: 'Poppins',sans-serif;
  font-weight: 600;
  color: #f7f7f7;
  margin-right: auto;
}

.section-div div p {
  font-family: 'Poppins';
  font-weight: 200;
  color: #f7f7f7;
}

.section-div div a {
  justify-self: start;
  color: #fff;
  padding: 15px 40px;
  border-radius: 5px;
  border: 2px solid white;
  font-family:'poppins';
  transition: .8s;
  text-decoration: none;
  
}
.section-div div a:hover{
  border: 2px solid blue;
  transform: scale(1.1);
}


.section-div img {
  max-width: 100%;
}

.digitando::after {
  content: '|';
  margin-left: 6px;
  
  opacity: 1;
  animation: pisca .5s infinite;
}

.menu-toggle { display: none;
   background: none; 
   border: none; 
   color: #fff; 
   font-size: 30px; 
   cursor: pointer; 
  }

@keyframes pisca {
  from {
      opacity: 1;

  }

  to {
      opacity: 0;
  }
}



@keyframes inicializar {
  from {
      opacity: 0;
      transform: translate3d(0, -60px, 0);
  }

  to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
  }
}

/* SEÇÃO PRINCIPAL SOBRE MIM */


main {
  background-color: #111;
  color: white;
}

main .sobre {
  margin-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  justify-content: center;
  padding: 40px;
}

.sobre_titulo {
  margin: 30px 0;
  grid-column: 1/-1;
  text-align: center;
  color: #fff;
}

.sobre_titulo h1 {
  font-size: 2.5rem;
  color: blue;
  margin-bottom: 15px;
  font-family: 'Berkshire Swash', cursive;
}

.sobre_titulo p {
  color: #707070;
  font-size: 1.4rem;
  margin-bottom: 1rem;
  position: relative;
}

.sobre_titulo div {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.sobre_titulo span {
  display: block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: blue;
}

.sobre img {
  animation: ladoSecao .5s ease-in-out forwards;
  cursor: pointer;
  grid-row: 2;
  max-width: 100%;
  border-radius: 4px;
  filter: blur(0);
}

.sobre img:hover {
  transition: .5s ease-in;
  filter: blur(1px);
}

.sobre_conteudo {
  animation: sobeSecao .6s ease-in-out forwards;
  grid-column: 2/-1;
  display: grid;
  color: #707070;
  grid-template-columns: 1fr 1fr;
}

.sobre_texto {
  display: grid;
  grid-column: 1/-1;
  grid-template-columns: 1fr 1fr;
}

.sobre_texto h1 {
  font-size: 2.3rem;
  color: #fff;
  grid-column: 1/-1;
}

.sobre_texto h1::after {
  background-color: blue;
  height: 6px;
  width: 60px;
  margin: 20px 0;
  content: '';
  display: block;
  border-radius: 5px;
}

.sobre_texto p {
  font-size: 1.3rem;
  grid-row: 2;
  grid-column: 1/-1;
}

.sobre_info {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 1/-1;
  gap: 15px;
  align-items: center;
}

.sobre_info i {
  color: blue;
  display: inline-block;
  padding-right: 15px;
  font-size: 1.5rem;
}

.sobre_info p {
  font-size: .9rem;
}

.faixa{
  color: #333;
  width: 100%;
  height: 4px;
  margin-bottom: 30px;
background-color: #333;
margin: 0;
padding: 0;
}
.faixa2{
  color: #333;
  width: 100%;
  height: 4px;
  background-color: #333;
  margin: 0;
  padding: 0;
}
@keyframes sobeSecao {
  from {
      transition: .5s;
      transform: translate3d(60px, 0, 0);
  }

  to {
      transform: translate3d(0, 0, 0);
  }
}

@keyframes ladoSecao {
  from {
      transition: .5s;
      transform: translate3d(-60px, 0, 0);
  }

  to {
      transform: translate3d(0, 0, 0);
  }
}

/* MEUS DIPROMAS E CURSOS */
.education{
  font-family: 'Berkshire Swash', cursive;; 

 }
  .education_content{
    max-width: 50%;
    font-family: 'poppins';
     grid-template-columns: 1fr;
     gap: 60px;
     margin-top: 60px;
     display: flex;
     flex-direction:row;
     align-items: center;
     justify-content: center;
    
     div{ 
      margin: 20px;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      padding: 30px;
      background-color: #373738;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
      transition:.5s;
      cursor: pointer;
      &:hover{
       box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
      }

     }
     p{
      color: #707070;
      font-size: 1rem;
      margin-bottom: 10px;
     }
  }
  .sobre_p{
    color: #707070;
    font-size: 1rem;
    margin-bottom: 10px;
    margin-left: 10px;
     text-align: center;
  }


/* RESPONSIVO */
.menu-toggle {
  display: none; 
  background: none;
   border: none; 
   color: #fff; 
   font-size: 30px; 
   cursor: pointer; 
 } 

  
   

@media(max-width: 992px) {
  .section-div img {
      display: none;
  }
.box1 img{ 
   width: auto !important;
   height: auto;
 
}
  .section-div {
      background-image: url(img/pessoa\ ilustrativa.png);
      background-repeat: no-repeat;
      background-size: cover;
  }

  header {
      justify-content: space-between;
      padding: 30px 70px;
  }

  header .navegacao-primaria {
      display: none;
  }

  header i {
      color: #f7f7f7;
      font-size: 3rem;
  }
  .nav-header { 
    position: relative; 
  } 
  .nav-header ul {
     display: none; 
     flex-direction: column;
      position: absolute;
       top: 100%;
        left: 0; 
        width: 100%;
         background-color: #cfcfcf; 
         border-radius: 4px;
          text-align: center;
           z-index: 99;
           } .nav-header ul.showing { 
            display: flex;
           }

            .nav-footer .footer-nav ul { 
              display: flex; 
              
              background-color: #000;  }
              .menu-toggle { display: block; }

  .education_content {
     gap: 20px;
     margin-top: 60px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     text-align: center;
     margin: auto;
      div{
        margin: 20px;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        padding: 30px;
        background-color: #373738;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        transition:.5s;
        cursor: pointer;
        &:hover{
         box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        }
       
    }
 }
  header .navegacao-primaria.ativado {
      background: linear-gradient(rgba(43, 42, 42, 0.176), rgba(46, 46, 46, 0.724));
      position: absolute;
      display: grid;
      top: 80px;
      color: white;
      z-index: 1;
      padding: 30px;
      font-size: 1.6rem;
      font-weight: bold;
      border-radius: 0 0 4px 4px;
      right: 20px;
      animation: sobeSecao .8s ease-in-out forwards;
  }
}


@media(max-width: 992px) {
  .sobre img {
      grid-column: 1/-1;
      justify-self: center;
  }
  .projects_armazenamento img{
      height: 250px;
      width: 200px;
  }

  .sobre_conteudo {
      grid-column: 1/-1;
  }
}

 /*Footer*/

footer {
  background-color: #000;
  color: #fff;
  padding: 20px 0;
  font-family: 'Poppins', sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-logo h1 {
  font-size: 24px;
  color: rgb(81, 81, 223);
}

.footer-nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-nav ul li {
  margin: 0 10px;
}

.footer-nav ul li a {
  text-decoration: none;
  color: #707070;
  transition: color 0.3s;
}

.footer-nav ul li a:hover {
  color: rgb(69, 69, 106);
}

.footer-social p {
  margin-bottom: 10px;
}

.footer-social a {
  color: #fff;
  text-decoration: none;
  margin-right: 15px;
  transition: color 0.3s;
}

.footer-social a:hover {
  color: rgb(69, 69, 106);
}

.footer-info {
  text-align: center;
  width: 100%;
  margin-top: 20px;
}




/* ================================================================= */
  /*Contacts */

.main-contact{
  transition:.5s;
  background-color: #111;
  padding: 40px;
  color: white;
  display: flex;
  flex-direction: column;


}




  h2{
  margin-bottom: 50px;
  font-size: 2.5rem;
  color: #fff;
  display: flex;
  justify-content: center;
  font-family: 'poppins';
}
  form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    width: 100%;
    
    label{
      font-size: 1.5rem;
      color: #fff;
      margin-bottom: 10px;
    }
    #Confirm{
      margin-top: 20px;
      font-size: 1.5rem;
      color: #fff;
      background-color: rgb(80, 80, 247);
      border-radius: 5px;
      padding: 10px 20px;
      border: none;
      cursor: pointer;
      transition:.5s;
      &:hover{
        background-color: #007bff;
      }


    }

  }
/* Modal */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
  padding-top: 60px; 
}

.modal-content {
  background-color: #707070;
  margin: 5% auto; 
  padding: 20px;
  border: 1px solid #888;
  border-radius: 4px;
  max-width: 500px;
  font-family: 'poppins';
  width: 80%;
}

.close {
  color: #ce1414;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Projects */

.Projects{
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  padding: 20px;
  font-family: 'Poppins';
  width: 100%;

}

.box1{
  margin: 20px auto;
   background-color: #ff7f00;
  color: white;
  max-width: 90%;
  padding: 10px 20px;
  border-radius: 5px;
  transition:.5s;
  cursor: pointer;
  text-align: center;
  &:hover{
    background-color: #ffab5d;
  }
  p{
    font-size: 1.3rem;
    margin-bottom: 10px;
  }
  img{
    max-width: 60%;
    height: 60%;
    object-fit: cover;
    
  }
}
.box2{
  margin: 19px auto;
    width: 90%;
  background-color: #1b1b1b;
  color: white;
  text-align: center;
  padding: 10px 20px;
  border-radius: 5px;
  transition:.5s;
  cursor: pointer;
  &:hover{
    background-color: #3f3f3f;
  }
  p{
    font-size: 1.3rem;
    margin-bottom: 10px;
  }
  img{
    max-width: 60%;
    height: 60%;
    object-fit: cover;
  }
}
.box3{
  margin:  19px auto;
  width: 90%;
  background-color: #e91e63;
  color: white;
  text-align: center;
  padding: 10px 20px;
  border-radius: 5px;
  transition:.5s;
  cursor: pointer;
  &:hover{
    background-color: #f73978;
  }
  p{
    font-size: 1.3rem;
    margin-bottom: 10px;
  }
  img{
    max-width: 60%;
    height: 60%;
    object-fit: cover;
  }
}
